<header>
  <section>
    Select user :
    <select>
      <option *ngFor="let user of users" (click)="details(user)">{{user.name}}</option>
    </select>
  </section>

  <section *ngIf="selectedUser">
    <h2>{{selectedUser.name}}'s topics</h2>
    <ul>
      <li *ngFor="let topic of selectedUser.topics">
        <a (click)="getComments(topic)">{{topic.title}}</a>
      </li>
    </ul>


    <section *ngIf="selectedTopic">
      <ul>
        <li *ngFor="let comment of selectedTopic.comments">
          {{comment.user.name}} : {{comment.content}}
        </li>
      </ul>
    </section>
  </section>

  <section>
    <form>
      <input type="text" name="FormTopic" [(ngModel)]="createdTopic.title">
      <button (click)="createTopic()">create topic</button>
    </form>
  </section>

  <section *ngIf="selectedUser">
    Select topic :
    <select>
      <option *ngFor="let topic of selectedUser.topics">{{topic.title}}</option>
    </select>
  </section>
  <!--<span *ngIf="selectedUser">{{selectedUser.name}}'s selected topic</span>-->

</header>

